<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% adverts.forEach(product => { %>
      <img src="<%= product.photo %>" alt="<%=product.name%>">
      <ul>
        <li class ="p_name"><%= product.name %> </li>
        <li>Price: <%= product.price %> € </li>
        <li>#<%= product.tags %> </li>
        <li class="status"> 
          <% if (product.sale) { %>
          <p>On sale</p>
          <button>Buy</button>
          <button class="offer">Send an offer</button>
        <% } else { %>
          <p>Searching</p>
          <button>Sell</button>
          <button class="offer">Send an offer</button>
        <% } %>
        </li>
      </ul>
      
    <% }) %>
  </main>
  </body>
</html>
